.circle{
    position: fixed;
    top: 50%;
    right: 50%;
      
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   .3em solid transparent;
    
    /* Controlls the size of the stars. */
    font-size: 24px;
    
}
    
.circle:before, .circle:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;

    transform: rotate(-35deg);

}

.circle:after {  
    transform: rotate(35deg);

}

.circle {
    animation: shine;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes shine{
    
    0%{
        transform: scale(1) rotate(-200deg) ;
    }
    100%{
        transform: scale(300) rotate(200deg) ;
    }
    
}